.page[b-eyxzkz3hn2] {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.site-main[b-eyxzkz3hn2],
main[b-eyxzkz3hn2] {
    flex: 1;
    margin: 0;
    padding: 0;
}
